language: csharp
solution: "./ADL/ADL.sln"
sudo: required

before_install:
- wget --no-check-certificate https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

install:
- mono ./nuget.exe install NUnit.Runners -Version 3.0.1 -OutputDirectory testrunner
- travis_retry nuget restore -source "https://www.nuget.org/api/v2" ./ADL/ADL.sln
script:
- msbuild ./ADL/ADL.sln
- mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./ADL/ADL.UnitTests/bin/Debug/ADL.UnitTests.dll
