language: csharp
solution: ADL/ADL.sln

language: csharp
solution: solution-name.sln
install:
  - nuget restore solution-name.sln
  - nuget install NUnit.Console -Version 3.9.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release ADL/ADL.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./ADL/ADL.UnitTests/bin/Release/ADL.UnitTests.dll

matrix:
    include:
      - dotnet: 2.1.502
        mono: none
        env: DOTNETCORE=2
      - mono: latest