language: csharp
solution: ADL/ADL.sln
dotnet: 2.1.502


branches:
  only:
    - master

before_install:
  - sudo apt-get install nunit-console
before_script:
  - nuget restore ADL/ADL.sln
after_script:
  - dotnet publish ADL/ADL.UnitTests/ /p:Configuration=Release
  - nunit-console ADL/ADL.UnitTests/bin/Release/netcoreapp2.1/publish/ADL.UnitTests.dll