version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout
      - run:
          name: Testing
          command: apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
      - run:
          name: Testing 1
          command: apt install apt-transport-https ca-certificates
      - run:
          name: Testing 2
          command: echo "deb https://download.mono-project.com/repo/ubuntu stable-xenial main" | tee /etc/apt/sources.list.d/mono-official-stable.list
      - run:
          name: Teting3
          command: apt update
      - run:
          name: Installing MONO
          command: apt-get install mono-complete
      - run:
          name: Installing MONO
          command: apt-get install nunit-console
      - run:
          name: Installing NuGet
          command: curl https://api.nuget.org/downloads/nuget.exe -o nuget.exe
      - run:
          name: Building Solution
          command: xbuild ADL/ADL.sln
      - run:
          name: Running Unit Tests
          command: nunit-console ADL/ADL.UnitTests/ADL.UnitTests.csproj